* {
  margin: 0;
  padding: 0; }

.container_one {
  height: 100vh;
  width: 100%; }

.navbar_one {
  height: 8%;
  width: 100%;
  overflow: hidden;
  background-color: #F7F7F7; }

.heading_one {
  height: 45%;
  width: 25%;
  margin-left: 60px;
  padding-top: 23px;
  display: inline-block; }

.behance_one {
  width: 15%;
  height: 60%;
  float: right;
  margin-top: 25px;
  margin-right: 60px; }

.nav_one {
  height: 100px; }

.button_one {
  width: 220px;
  height: 40px;
  background-color: #1B2D47;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block;
  color: #FFF;
  font: italic 12px Lato, sans-serif;
  border: #1E3E75;
  text-transform: uppercase; }

.name_tag {
  width: 450px;
  height: 50px;
  float: right;
  margin-right: 60px;
  margin-top: 30px; }

.para {
  width: 40%;
  font: italic 14px Lato, sans-serif;
  margin-top: 30px; }

.creator_name {
  width: 60%;
  font: bold 38px Playfair Display, serif;
  color: #1B2D47;
  float: right;
  margin-top: -39px;
  letter-spacing: 2px; }

.projects-wrapper-one {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }

.project_box {
  width: 30%;
  height: 77%;
  margin: 0 auto;
  background-color: #f1f2f6;
  display: inline-block;
  margin-bottom: 15px; }

.project {
  height: 41%;
  width: 92%;
  margin: 0 auto;
  background-color: blue;
  margin-top: 15px; }

.info_box {
  height: 20%;
  width: 92%;
  margin: 0 auto;
  background-color: blue;
  margin-top: 15px; }

.comment_box {
  height: 30%;
  width: 92%;
  margin: 0 auto;
  background-color: blue;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: scroll; }

.arrow {
  margin-right: 8px;
  color: #E41E26; }

	/*font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;*/
#dv {
  color: red; }

body {
  padding: 0;
  margin: 0; }

#body-contianer3 {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

#box1 {
  grid-column: 1 / 6;
  padding: 0;
  margin-top: 0;
  height: 8%;
  background-color: #F7F7F7; }

#box2 {
  grid-column: 1 / 6;
  height: 70%;
  background-color: white; }

#box3 {
  grid-column: 1 / 6;
  height: 20%;
  background-color: #F7F7F7; }

.return3 {
  background-color: #1B2D47;
  border: #1B2D47;
  border-radius: 5px;
  color: white;
  width: 220px;
  height: 40px;
  font: italic 12px Lato, sans-serif;
  margin-left: 40px;
  margin-top: 30px; }

#chart1Container {
  background-color: #EFEFEF;
  width: 520px;
  height: 420px;
  float: left;
  margin-left: 40px;
  margin-top: 30px; }

#chart2Container {
  background-color: #EFEFEF;
  width: 320px;
  height: 420px;
  float: right;
  margin-right: 40px;
  margin-top: 30px; }

#chart1 {
  background-color: white;
  height: 400px;
  width: 500px;
  margin: 10px; }

#chart2 {
  background-color: white;
  height: 400px;
  width: 300px;
  margin: 10px; }

.homepage-container-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F7F7F7; }

.top-section-wrapper-2 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .top-section-wrapper-2 .pentagramer-logo-wrapper-2 {
    width: 30%;
    margin-left: 75px;
    cursor: pointer; }
    .top-section-wrapper-2 .pentagramer-logo-wrapper-2 img {
      width: 100%; }
  .top-section-wrapper-2 .behance-logo-wrapper-2 {
    margin-right: 75px; }

.middle-section-wrapper-2 {
  width: 100%;
  height: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .middle-section-wrapper-2 .about-link-wrapper-2 {
    width: 72px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .middle-section-wrapper-2 .about-link-wrapper-2 .about-menu-2 {
      transform: rotate(-90deg); }
    .middle-section-wrapper-2 .about-link-wrapper-2 .about-menu-2-active {
      border-bottom: solid 3px #1E3E75; }
  .middle-section-wrapper-2 .homepage-middle-content-2 {
    background: white;
    width: 90%;
    height: 100%; }
    .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2,
    .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 {
      width: 100%;
      height: 100%; }
    .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2 {
      overflow: hidden;
      display: none; }
      .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2 .slick-dots {
        bottom: 40px;
        left: 450px; }
      .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2 .slick-dots li button:before {
        font-size: 30px;
        color: #1E3E75; }
      .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2 div {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .middle-section-wrapper-2 .homepage-middle-content-2 .slick-designer-slideshow-2 div img {
          width: 120%; }
    .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 {
      background: white;
      padding: 30px;
      padding-right: 0px; }
      .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
          .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .profile-image-2 {
            width: 30%;
            height: 45%;
            margin: 10px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            cursor: pointer; }
            .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .profile-image-2 .designer-profile-name-div-2 {
              width: 10%;
              height: 100%; }
              .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .profile-image-2 .designer-profile-name-div-2 h3 {
                width: 100%;
                transform: rotate(90deg);
                font-size: 15px;
                padding-left: 15px;
                white-space: nowrap;
                font-family: "Lato", sans-serif;
                text-transform: uppercase;
                font-weight: 400;
                color: #1B2D47; }
            .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .profile-image-2 .designer-profile-photo-wrapper-2 {
              width: 90%;
              height: 100%; }
              .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .profile-image-2 .designer-profile-photo-wrapper-2 img {
                width: 100%; }
          .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .designer-two-profile-2,
          .middle-section-wrapper-2 .homepage-middle-content-2 .designer-content-container-2 .designer-profiles-section-container-2 .designer-profiles-wrapper-2 .designer-five-profile-2 {
            margin-left: 10px;
            margin-right: 10px; }
  .middle-section-wrapper-2 .contact-link-wrapper-2 {
    width: 72px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .middle-section-wrapper-2 .contact-link-wrapper-2 .contact-menu-2 {
      transform: rotate(90deg); }
    .middle-section-wrapper-2 .contact-link-wrapper-2 .contact-menu-2-active {
      border-bottom: solid 3px #1E3E75; }

.bottom-section-wrapper-2 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bottom-section-wrapper-2 .designers-link-wrapper-2 {
    width: 72px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bottom-section-wrapper-2 .designers-link-wrapper-2 .designers-menu-2-active {
      border-bottom: solid 3px #1E3E75; }

.menu-item-2 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  color: #1E3E75;
  font-weight: 700;
  font-size: 38px;
  border: none;
  background-color: transparent; }

.menu-item-2:hover {
  border-bottom: solid 3px #1E3E75;
  cursor: pointer; }

.designer-details-modal {
  height: 100vh;
  width: 100vw; }
  .designer-details-modal .designer-details-modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .designer-details-modal .designer-details-modal-dialog .modal-content {
      max-width: 1000px;
      max-height: 600px;
      border-radius: 5px;
      border: none; }
      .designer-details-modal .designer-details-modal-dialog .modal-content .modal-header {
        background-color: #F7F7F7;
        border-bottom: none;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-header .modal-title {
          width: 100%;
          font-family: "Playfair Display", serif;
          font-size: 30px;
          color: #E41E26;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          padding-left: 50px; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-header .close {
          opacity: 1;
          justify-content: flex-end; }
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-header .close .fa-times {
            font-size: 30px;
            color: black; }
      .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body {
        width: 100%;
        max-height: 500px;
        background-color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-picture-2 {
          width: 30%;
          height: 100%;
          overflow: hidden;
          margin: 10px; }
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-picture-2 img {
            height: 100%; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 {
          height: 100%;
          width: 70%;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-basic-info-container-2 {
            height: 40%;
            width: 100%;
            border-bottom: solid 2px #EFEFEF; }
            .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-basic-info-container-2 .designer-name-loaction-wrapper-2 {
              display: flex;
              flex-direction: row; }
              .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-basic-info-container-2 .designer-name-loaction-wrapper-2 h2 {
                width: 50%; }
              .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-basic-info-container-2 .designer-name-loaction-wrapper-2 p {
                width: 50%; }
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-profile-statistics-wrapper-2 {
            height: 60%;
            width: 100%; }
            .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-profile-statistics-wrapper-2 .icon-wrapper-2 {
              width: 30px;
              height: 30px; }
            .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-profile-statistics-wrapper-2 .project-views-appreciations-wrapper-2 {
              display: flex;
              flex-direction: row; }
            .designer-details-modal .designer-details-modal-dialog .modal-content .modal-body .designer-modal-details-container-2 .designer-profile-statistics-wrapper-2 .project-followers-following-wrapper-2 {
              display: flex;
              flex-direction: row; }
      .designer-details-modal .designer-details-modal-dialog .modal-content .modal-footer {
        padding: 0;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: #F7F7F7; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-footer .project-link-wrapper-2 {
          border-right: solid 4px #EFEFEF; }
        .designer-details-modal .designer-details-modal-dialog .modal-content .modal-footer .other-pages-link-wrapper-2 {
          margin: 0;
          padding: 0;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-footer .other-pages-link-wrapper-2 .project-page-link-2,
          .designer-details-modal .designer-details-modal-dialog .modal-content .modal-footer .other-pages-link-wrapper-2 .statistics-page-link-2 {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-family: "Lato", sans-serif;
            font-size: 16px;
            color: #1E3E75;
            font-weight: 400;
            font-style: italic;
            text-transform: uppercase;
            text-align: center; }

/*# sourceMappingURL=style.css.map */
