//////////////////////////
//// COLOUR Variables ////
//////////////////////////

// Document Main Colours
$darkBlue: #1B2D47;
$primaryBlue: #1E3E75;
$secondaryBlue: #2F4C93;
$accentRed: #E41E26; 
$lighterGrey: #F7F7F7;
$darkerGrey: #EFEFEF;


//////////////////////////
//// FONT Variables //////
//////////////////////////

// Font
$headerFont: 'Playfair Display', serif;
$paragraphFont: 'Lato', sans-serif;


// Font Weight (used only for primary font)
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

