.homepage-container-2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $lighterGrey;
}

.top-section-wrapper-2{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .pentagramer-logo-wrapper-2{
        width: 30%;
        margin-left: 75px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .behance-logo-wrapper-2{
        margin-right: 75px;
    }

}

.middle-section-wrapper-2{
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .about-link-wrapper-2{
        width: 72px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-menu-2{
            transform: rotate(-90deg);
        }
        .about-menu-2-active{
            border-bottom: solid 3px $primaryBlue;
        }
    }

    .homepage-middle-content-2{
        background: white;
        width: 90%;
        height: 100%;

        .slick-designer-slideshow-2,
        .designer-content-container-2{
            width: 100%;
            height: 100%;
        }

         .slick-designer-slideshow-2{
            overflow: hidden;
            display: none;
            .slick-dots{
                bottom: 40px;
                left: 450px;
            }
            .slick-dots li button:before{
                font-size: 30px;
                color: $primaryBlue;
            }
            div{
                width: 100%;
                height: 100%;
                overflow: hidden;
                 img{
                     width: 120%;
                 }
            }
        }

        .designer-content-container-2{
            background: white;
            padding: 30px;
            padding-right: 0px;
            // display: none;

            .designer-profiles-section-container-2{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .designer-profiles-wrapper-2{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .profile-image-2{
                        width: 30%;
                        height: 45%;
                        margin: 10px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        cursor: pointer;

                         .designer-profile-name-div-2{
                            width: 10%;
                            height: 100%;

                            h3{
                                width: 100%;
                                transform: rotate(90deg);
                                font-size: 15px;
                                padding-left: 15px;
                                white-space: nowrap;
                                font-family: $paragraphFont;
                                text-transform: uppercase;
                                font-weight: $regular;
                                color: $darkBlue;
                            }
                        }
                        .designer-profile-photo-wrapper-2{
                            width: 90%;
                            height: 100%;
                            img{
                                width: 100%;
                            }
                        }
                            
                    }

                    .designer-two-profile-2,
                    .designer-five-profile-2{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
       
    .contact-link-wrapper-2{
        width: 72px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-menu-2{
            transform: rotate(90deg);   
        }
        .contact-menu-2-active{
            border-bottom: solid 3px $primaryBlue;
        }
    }
}

.bottom-section-wrapper-2{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    .designers-link-wrapper-2{
        width: 72px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .designers-menu-2-active{
            border-bottom: solid 3px $primaryBlue;
        }
    }
    
}

.menu-item-2{
    text-transform: uppercase;
    font-family: $headerFont;
    color: $primaryBlue;
    font-weight: $bold;
    font-size: 38px;
    border: none;
    background-color: transparent; 
}
.menu-item-2:hover { 
    border-bottom: solid 3px $primaryBlue;
    cursor: pointer;
}

// Stylings for designers details modal pop up
// .designer-detail-modal-2{
//     height: 100vh;
//     width: 100vw;
//     .designer-detail-modal-dialog-2{
//         width: 100%;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin: 0;
//          .modal-content{
            
//             min-width: 700px;
//             border-radius: 5px;
//             overflow: hidden;
//             .modal-header{
//                 background-color: $lighterGrey;
//                 height: 70px;
                
//                 .modal-title{
//                     width: 700;
//                     font-family: $headerFont;
//                     font-size: 30px;
//                     color: $accentRed;
//                     font-weight: $bold;
//                     text-transform: uppercase;
//                     text-align: center;
//                     padding-left: 25px;
//                 }
//             }

//             .modal-footer{
//                 height: 70px;
//                 // width: 700px;

//                 .page-links-2{
//                     width: 350px;
//                 }            
//             }
//         }
//     }
   
// }

.designer-details-modal{
    height: 100vh;
    width: 100vw;
    .designer-details-modal-dialog{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content{
            max-width: 900px;
            max-height: 500px;
            border-radius: 5px;
            border: none;
            .modal-header{
                background-color: $lighterGrey;
                border-bottom: none;
                height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                .modal-title{
                    width: 100%;
                    font-family: $headerFont;
                    font-size: 30px;
                    color: $accentRed;
                    font-weight: $bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding-left: 50px;
                }
                .close{
                    opacity: 1;
                    justify-content: flex-end;
                    .fa-times{
                        font-size: 30px;
                        color: black;
                    }
                }
            }
            .modal-body{
                background-color: white;
                text-align: center;
                color: $darkBlue;
                padding-bottom: 20px;
                ul{
                    padding: 0;
                    padding-top: 10px;
                    list-style-type: none;
                }
            }

            .modal-footer{
                padding: 0;
                height: 80px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                background-color: $lighterGrey;
                .project-link-wrapper-2{
                    border-right: solid 4px $darkerGrey;
                }
                .other-pages-link-wrapper-2{
                    margin: 0;
                    padding: 0;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .project-page-link-2,
                    .statistics-page-link-2{
                        width: 100%;
                        text-align: center;
                        margin: 0 auto;
                        font-family: $paragraphFont;
                        font-size: 16px;
                        color: $primaryBlue;
                        font-weight: $regular;
                        font-style: italic;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }  
    }
}
