.homepage-container-2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $lighterGrey;
}

.top-section-wrapper-2{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .pentagramer-logo-wrapper-2{
        width: 30%;
        margin-left: 75px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .behance-logo-wrapper-2{
        margin-right: 75px;
    }

}
#loaderGIF1,
#loaderGIF2,
#loaderGIF3,
#loaderGIF4,
#loaderGIF5,
#loaderGIF6{
    display: none;
    height: 100%;
}

#loaderGIFSlide1,
#loaderGIFSlide2,
#loaderGIFSlide3,
#loaderGIFSlide4,
#loaderGIFSlide5,
#loaderGIFSlide6{
    display: none;
    // height: 100%;
}
// HOMEPAGE MIDDLE SECTION STYLING
.middle-section-wrapper-2{
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .about-link-wrapper-2{
        width: 72px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-menu-2{
            transform: rotate(-90deg);
        }
        .about-menu-2-active{
            border-bottom: solid 3px $primaryBlue;
        }
    }

    .homepage-middle-content-2{
        background: white;
        width: 90%;
        height: 100%;
        position: relative;

        // About page Styling
        .about-overlay-container-2{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            display: none;

            .about-content-wrapper-2{
                background-color: white; 
                height: 100%;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .about-logo-container-2{
                    width: 50%;
                    padding: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .short-logo-wrapper{
                        width: 90%;
                        margin-bottom: 30px;
                        margin-right: 30px;

                        img{
                            width: 100%;
                        }
                    }
                    .long-logo-wrapper{
                        width: 60%;
                        margin-right: 30px;

                        img{
                            width: 100%;
                        }
                    }
                }
                .about-info-container-2{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    padding-left: 10px;

                    .about-header-2{
                        font-family: $headerFont;
                        font-size: 40px;
                        color: $primaryBlue;
                        font-weight: $bold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }

                    .top-about-paragraph{
                        font-family: $headerFont;
                        font-size: 22px;
                        color: $darkBlue;
                        font-weight: $regular;
                        margin-bottom: 25px;
                    }

                    .about-info-paragraph{
                        font-family: $paragraphFont;
                        font-size: 18px;
                        color: $darkBlue;
                        font-weight: $regular;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        // Contact page Styling
        .contact-overlay-container-2{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            display: none;

            .contact-content-wrapper-2{
                background-color: rgba(53, 53, 53, 0.85); 
                height: 100%;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .contact-box-wrapper-2{
                    max-width: 600px;
                    min-width: 500px;
                    max-height: 400px;
                    min-height: 200px;
                    border-radius: 2px;
                    background-color: white; 
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;

                    .close-wrapper-2{
                        width: 100%;
                        height: 10%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        

                        #closeContact{
                            margin: 10px;
                            opacity: 1;
                            i{
                                font-size: 30px;
                                color: black;
                            }
                        }
                    }

                    .contact-text-wrapper-2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-family: $paragraphFont;
                            font-size: 20px;
                            color: black;
                            font-weight: $regular;
                            text-align: center;
                        }
                    }
                    .contact-button-wrapper{
                        height: 65px;
                        width: 330px;
                        padding: 10px;
                        margin: 10px;
                        margin-bottom: 40px;
                        background-color: $darkBlue; 
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .email-contact-us-button{
                            font-family: $headerFont;
                            font-size: 25px;
                            color: white;
                            font-weight: $bold;
                            text-transform: uppercase;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        // Slideshow Styling
        .slick-designer-slideshow-2,
        .designer-content-container-2{
            width: 100%;
            height: 100%;
            // display: none;
        }

         .slick-designer-slideshow-2{
            overflow: hidden;
            .slick-dots{
                bottom: 40px;
                left: 450px;
            }
            .slick-dots li button:before{
                font-size: 30px;
                color: $accentRed;
            }
            div{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                .slide-info-wrapper{
                    position: absolute;
                    width: 55%;
                    max-height: 180px;
                    padding: 15px;
                    bottom: 40px;
                    left: 40px;
                    background-color: rgba(47, 76, 147, 0.85);
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;

                    h3{
                        font-family: $headerFont;
                        font-size: 35px;
                        color: white;
                        font-weight: $bold;
                        text-transform: uppercase;
                        padding-left: 40px;
                        margin-bottom: 5px;
                    }
                     h4{
                        font-family: $paragraphFont;
                        font-size: 25px;
                        color: $darkBlue;
                        font-weight: $regular;
                        font-style: italic;
                        padding-left: 40px;
                    }

                }
                img{
                    width: 100%;
                    height: 120%;
                }
            }
        }

        .designer-content-container-2{
            background: white;
            padding: 30px;
            padding-right: 0px;

            .designer-profiles-section-container-2{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .designer-profiles-wrapper-2{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .profile-image-2{
                        width: 30%;
                        height: 45%;
                        margin: 10px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        cursor: pointer;

                         .designer-profile-name-div-2{
                            width: 10%;
                            height: 100%;

                            h3{
                                width: 100%;
                                transform: rotate(90deg);
                                font-size: 15px;
                                padding-left: 15px;
                                white-space: nowrap;
                                font-family: $paragraphFont;
                                text-transform: uppercase;
                                font-weight: $regular;
                                color: $darkBlue;
                            }
                        }
                        .designer-profile-photo-wrapper-2{
                            width: 90%;
                            height: 100%;
                            img{
                                width: 100%;
                            }
                        }
                            
                    }

                    .designer-two-profile-2,
                    .designer-five-profile-2{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
       
    .contact-link-wrapper-2{
        width: 72px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-menu-2{
            transform: rotate(90deg);   
        }
        .contact-menu-2-active{
            border-bottom: solid 3px $primaryBlue;
        }
    }
}

// DESINGER PAGE MIDDLE SECTION STYLING
.designer-top-section-wrapper-2{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .pentagramer-logo-wrapper-2{
        width: 30%;
        margin-left: 75px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .behance-logo-wrapper-2{
        margin-right: 75px;
    }

}

.designer-middle-section-wrapper-2{
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .designer-middle-content-2{
        background: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .designer-profiles-wrapper-2{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            padding: 20px;

            .profile-image-2{
                width: 25%;
                height: 45%;
                margin: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                cursor: pointer;
                margin: 20px;
                margin-left: 50px;

                    .designer-profile-name-div-2{
                    width: 10%;
                    height: 100%;

                    h3{
                        width: 100%;
                        transform: rotate(90deg);
                        font-size: 15px;
                        padding-left: 15px;
                        white-space: nowrap;
                        font-family: $paragraphFont;
                        text-transform: uppercase;
                        font-weight: $regular;
                        color: $darkBlue;
                    }
                }
                .designer-profile-photo-wrapper-2{
                    width: 90%;
                    height: 100%;
                    img{
                        width: 100%;
                    }
                }
                    
            }

            .designer-two-profile-2,
            .designer-five-profile-2{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

}

.bottom-section-wrapper-2{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .designers-link-wrapper-2{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .designers-menu-2{
            text-decoration: none;
            color: $primaryBlue;
        }
        .designers-menu-2-active{
            text-decoration: none;
            color: $primaryBlue;
            border-bottom: solid 3px $primaryBlue;
        }
    }
}
.designers-bottom-section-wrapper-2{
    justify-content: center;
}   

.menu-item-2{
    text-transform: uppercase;
    font-family: $headerFont;
    color: $primaryBlue;
    font-weight: $bold;
    font-size: 38px;
    border: none;
    background-color: transparent; 
}
.menu-item-2:hover { 
    border-bottom: solid 3px $primaryBlue;
    cursor: pointer;
}

// Stylings for designers details modal pop up
.designer-details-modal{
    height: 100vh;
    width: 100vw;
    .designer-details-modal-dialog{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content{
            max-width: 1000px;
            max-height: 600px;
            border-radius: 5px;
            border: none;
            .modal-header{
                background-color: $lighterGrey;
                border-bottom: none;
                height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                .modal-title{
                    width: 100%;
                    font-family: $headerFont;
                    font-size: 40px;
                    color: $accentRed;
                    font-weight: $bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding-left: 60px;
                }
                .close{
                    opacity: 1;
                    justify-content: flex-end;
                    .fa-times{
                        font-size: 30px;
                        color: black;
                    }
                }
            }
            .modal-body{
                width: 100%;
                max-height: 500px;
                
                #loaderDiv2{
                    padding: 15px;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    display: none;
                    justify-content: center;
                    align-items: center;

                    .loader-wrapper{
                        height: 100%;
                        margin: 10px;
                        margin-right: 20px;
                        img{
                            width: 100%;
                        }
                    }

                }
                .modal-body-content-wrapper-2{
                    padding: 15px;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .designer-modal-picture-2{
                        width: 40%;
                        height: 100%;
                        margin: 10px;
                        margin-right: 20px;
                        img{
                            width: 100%;
                        }
                    }
                    
                    .designer-modal-details-container-2{
                        height: 100%;
                        width:  60%;
                        display: flex;
                        justify-content: center;
                        align-items: space-around;
                        flex-direction: column;
                        .designer-basic-info-container-2{
                            height: 40%;
                            width: 100%;
                            border-bottom: solid 2px $darkerGrey;
                            padding-bottom: 10px;
                            margin-bottom: 5px;
                            .designer-name-loaction-wrapper-2{
                                display: flex;
                                flex-direction: row;
                                align-items: flex-end;
                                h2{
                                    margin: 0;
                                    font-family: $headerFont;
                                    font-size: 30px;
                                    color: $darkBlue;
                                    font-weight: $bold;
                                    text-transform: uppercase;
                                    white-space:nowrap;
                                }
                                p{
                                    margin: 0;
                                    padding-left: 5px;
                                    font-family: $paragraphFont;
                                    font-size: 18px;
                                    font-weight: $light;
                                    font-style: italic;
                                    white-space:nowrap;
                                }                          
                            }
                            #focusInfo2{
                                margin: 0;
                                margin-top: 2px;
                                font-family: $paragraphFont;
                                font-size: 16px;
                                font-weight: $light;
                                font-style: italic;
                                white-space:nowrap;
                            }
                            #designerWebsiteLink2{
                                margin: 0;
                                margin: 0;
                                font-family: $paragraphFont;
                                font-size: 16px;
                                font-weight: $light;
                                font-style: italic;
                                color: black;
                                text-decoration: none;
                                white-space:nowrap;
                            }  
                        }
                        .designer-profile-statistics-wrapper-2{
                            height: 60%;
                            width: 100%;
                            display: flex;
                            flex-direction: row;

                            .icon-wrapper-2{
                                width: 40px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img{
                                    width: 100%;
                                }
                            }

                            .info-wrapper-2{
                                margin-left: 25px;
                            }

                            .info-title-2{
                                font-family: $paragraphFont;
                                font-size: 18px;
                                font-weight: $regular;
                                font-style: italic;
                                text-transform: uppercase;
                            }
                            .info-value-2{
                                font-family: $paragraphFont;
                                font-size: 25px;
                                font-weight: $regular;
                                font-style: italic;
                            }

                            .project-views-appreciations-wrapper-2,
                            .project-followers-following-wrapper-2{
                                display: flex;
                                flex-direction: column;
                                margin: 10px;
                            
                                .designer-views-wrapper-2,
                                .designer-appreciation-wrapper-2,
                                .designer-followers-wrapper-2,
                                .designer-following-wrapper-2{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    padding: 5px;
                                }

                                .designer-appreciation-wrapper-2,
                                .designer-following-wrapper-2{
                                    margin-top: 30px;
                                }
                            }
                            .project-followers-following-wrapper-2{
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }

            .modal-footer{
                padding: 0;
                height: 80px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                background-color: $lighterGrey;
                .project-link-wrapper-2{
                    border-right: solid 4px $darkerGrey;
                }
                .other-pages-link-wrapper-2{
                    margin: 0;
                    padding: 0;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .project-page-link-2,
                    .statistics-page-link-2{
                        width: 100%;
                        margin: 0 auto;
                        font-family: $paragraphFont;
                        font-size: 16px;
                        color: $primaryBlue;
                        font-weight: $regular;
                        font-style: italic;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }  
    }
}
