#dv {
	color:red;
}
body {
	padding: 0;
	margin:0;
}
#body-contianer3 {
	height: 100vh;
    width: 100vw;
	padding: 0px;
	// margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
	}
// #grid-container3 {
// display: grid;
// 	grid-template-columns:repeat(3, 1fr) ;
// }	

#box1{
 grid-column: 1 / 6;
    padding: 0;
    margin-top:0;
   height: 8%;
   background-color:$lighterGrey;
}
#box2{
grid-column: 1 / 6;
height:12%;
 background-color: white;
}
#box3 {
grid-column: 1 / 6;
 height:60%;
 background-color: white;
}
#box4 {
grid-column: 1 / 6;
 height: 18%;
 background-color: white;	
}
.return3{
	background-color: $darkBlue;
	border:$darkBlue;
	border-radius: 5px;
	color: white;
	width:220px;
	height: 40px;
	font:italic 12px Lato, sans-serif;
	margin-left: 40px;
	margin-top:30px;

}
#chart1Container {
	background-color: $darkerGrey;
	width:53.5%;
	height: 420px;
	float: left;
	margin-left: 40px;
	padding: 0.75%;
	margin-bottom: 1%;

	// margin-top: 20px;
	
}
#chart2Container {
	background-color: $darkerGrey;
	width:30%;
	height: 420px;
	float: right;
	margin-right: 3%;
	padding: 0.75%;
	margin-bottom: 1%;
	// margin-top: 20px;
	;

}
#chart1 {
	background-color: white;
	margin: 0 auto;
	height:100%;
	width:100%;
	// margin:10px;
	
}
#chart2 {
	background-color: white;
	margin: 0 auto;
	height:100%;
	width:100%;
	// margin:10px;
}
#statsContainer {
	width:93%;
	height: 78%;
	// width:98%;
	// height: 98%;
	margin: 0 auto;
	// margin: 1%;
	padding: 0.75%;
	margin-top: 1%;
	background-color: $darkerGrey;
	

}
#stats {
	background-color: white;
	width: 100%;
	height:100%;
	margin: 0 auto;
	// margin: 10px; 
	
}
#statsGridContainer {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;

}
	
#views {
	grid-column: 1/2;
	height:100%;
}
#appreciations {
	grid-column:2/3;
	height: 100%;

}
#comments {
	grid-column: 3/4;
	height: 100%;
}
#name3 {
	float: right;
	width: 450px;
margin-right: -300px;

}
.nameDescription {
	font: italic 12px Lato, sans-serif;
	margin-top: 50px;
	
}
.designerName {

	font: bold 38px Playfair Display, serif;
    color: #1B2D47;
   float: right;
    margin-right: 50px;
    margin-top: -39px;
    letter-spacing: 2px;
}
	

#logo3 {
	height: 45%;
	width: 25%;
	margin-left: 50px;
	padding-top: 15px;
	display: inline-block;
}
#secondLogo3 {
	width: 15%;
	height: 60%;
	float: right;
	margin-top: 25px;
	margin-right: 60px;

}
.icon {
	width: 30%;
	height: 30%;
	margin-top: 40px;
}
.label {
	font:  20px Lato, sans-serif;
	margin-left:25%;
	margin-top:-50px;

}