//layout
body {
	padding: 0;
	margin:0;
}
#body-contianer3 {
	height: 100vh;
    width: 100vw;
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
	}
#box1{
	 grid-column: 1 / 6;
	 padding: 0;
	 margin-top:0;
	 height: 8%;
	 background-color:$lighterGrey;
}
#box2{
	grid-column: 1 / 6;
	height:12%;
	background-color: white;
	}
#box3 {
	 grid-column: 1 / 6;
	 height:60%;
	 background-color: white;
}
#box4 {
	 grid-column: 1 / 6;
	 height: 18%;
	 background-color: white;	
}

//box1 components 
#logo3 {
	width: 30%;
	margin-left: 75px;
	padding-top: 18px;
	display: inline-block;
}
#secondLogo3 {
	float: right;
	margin-top: 25px;
	margin-right: 75px;

}

//box 2 components
.return3{
	background-color: $darkBlue;
	border:$darkBlue;
	border-radius: 5px;
	color: white;
	width:220px;
	height: 40px;
	font:italic 12px Lato, sans-serif;
	margin-left: 40px;
	margin-top:30px;
	cursor: pointer;
}
.nameDescription {
	font:  12px Lato, sans-serif;
	float:right;
	margin-top: 3%;
	margin-right: 10%;	
}
.designerName {
	font: bold 38px Playfair Display, serif;
    color: #1B2D47;
    display: inline-block;
    float: right;
	margin-top: 1%;
    letter-spacing: 2px;
    margin-right: -38%;
    cursor: pointer;
}
.kelsey {
	margin-left: 70%;
	margin-top: -3%;
	font:  12px Lato, sans-serif;
}
.btn {
	background-color: transparent;
	color:black;
	border: none;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
	background-color: transparent;
	color: black;
	border: none;
	box-shadow: none;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}	

//box3 components
#chart1Container {
	background-color: $darkerGrey;
	width:47.5%;
	height: 420px;
	float: left;
	margin-left: 40px;
	padding: 0.75%;
	margin-bottom: 1%;
}
#chart2Container {
	background-color: $darkerGrey;
	width:40%;
	height: 420px;
	float: right;
	margin-right: 3%;
	padding: 0.75%;
	margin-bottom: 1%;	
}
#chart1 {
	background-color: white;
	margin: 0 auto;
	height:100%;
	width:100%;
}
#chart2 {
	background-color: white;
	margin: 0 auto;
	height:100%;
	width:100%;
}
#chart1Location {
	margin: 0 auto;
	width: 80%;
	height: 60%;
	padding-top: 6%;
}
#chart2Location {
	margin-left:8%;
	width: 90%;
	height: 70%;
	padding-top: 6%;
}
#graphTitle {
	text-align: center;
	font:  bold 32px Playfair Display, serif;
	color: $accentRed;	
}
#titleLocation {
	padding-top: 10px;
}
#graphTitle2 {
	text-align: center;
	font:  bold 32px Playfair Display, serif;
	color: $accentRed;	
}
#titleLocation2 {
	padding-top: 10px;
}

// box4 components
#statsContainer {
	width:95%;
	height: 90%;
	margin: 0 auto;
	padding: 0.75%;
	background-color: $darkerGrey;
}
#stats {
	background-color: white;
	width: 100%;
	height:100%;
	margin: 0 auto;	
}
#statsGridContainer {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;
}
#views {
	grid-column: 1/2;
	height:100%;
}
#appreciations {
	grid-column:2/3;
	height: 100%;
}
#comments {
	grid-column: 3/4;
	height: 100%;
}
.icon {
	width: 30%;
	height: 30%;
	margin-top: 40px;
}
.label {
	font: 20px Lato, sans-serif;
	color: $accentRed;
	margin-left:25%;
	margin-top:-50px;
}

.statsStyle {
	font:  20px Lato, sans-serif;
	margin-left: 25%;
}

//browser resize message style
#phoneScreen {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	z-index: 2;
}
#phoneMessage {
	font: bold 32px Lato, serif;
	color: white;
}


@media only screen and (max-width: 768px) {
#box4 {
	height: 11%;
}
#statsContainer {
	margin-top: 32%;
	width:90%;
	margin-left:5.5%;
	height:85%;
	
}

#chart1Container{
	width: 90%;
	margin-top: -3%;
}
#chart2Container {
	width:90%;
	margin-top: 2%;
	margin-right: 4.75%;
}
#chart1Location {
	margin-left: 7%;
	margin-top:3%;
}
#chart2Location {
	margin-left: 5%;

}
.designerName {
	font-size: 20px;
	margin-right: -58%;
	margin-top: 5%;
}
.nameDescription {
	margin-right: 40%;
	margin-top: 6%;
}
.icon {
	height: 25%;
	width: 25%;
	margin-left: 10%;
}
.label {
	font-size: 16px;
	margin-left: 35%;
}
.statsStyle {
	font-size: 16px;
	margin-top:4%;
	margin-left: 35%;
}
#logo3 {
	width: 39%;
	margin-left:44px;
	padding-top: 28px;
}
.kelsey {
	margin-left: 60%;
	margin-top: -5.5%; 
}
}
@media only screen and (max-width: 725px){
#phoneScreen {
	display: block;
}
#body-container3 {
	display: none;
}
#phoneMessage {
	margin: 0 auto;
	width: 86%;
	margin-top: 75%;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.designerName {
	margin-right: -50%;
	font-size: 20px;
	margin-top: 2%;
}
.kelsey {
	margin-left: 63%;
	margin-top: -5%;
}
#statsContainer {
	width:93.5%;
	margin-left: 3.5%;
}
}